{% extends 'base.html' %}
{% block content %}
      <h2 style="padding-top: 20px;">欢迎购买VPN</h2>                              <div class="clear-block">
            <p>本VPN按照计时计费、流量计费、安全防护、专业游戏加速等分为以下套餐，欢迎选购</p><hr />
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="test" width="810" height="245"codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
				<param name="movie" value="/static/flash/flash.swf?bcastr_xml_url=/static/flash.xml" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#869ca7" />
				<param name="wmode" value="transparent" />
				<param name="allowScriptAccess" value="sameDomain" />
				<embed src="/static/flash/flash.swf?bcastr_xml_url=/static/flash.xml" quality="high" bgcolor="#869ca7"width="810" height="280" name="test" align="middle"play="true"loop="false"quality="high"allowScriptAccess="sameDomain"type="application/x-shockwave-flash"pluginspage="http://www.adobe.com/go/getflashplayer"></embed>
			</object>
{% endblock %}
