{% extends 'base.html' %}
{% block content %}
      <h2 style="padding-top: 20px;">欢迎购买VPN</h2>                              <div class="clear-block">
            <p>本VPN按照计时计费、流量计费、安全防护、专业游戏加速等分为以下套餐，欢迎选购</p><hr />
			<p><small>欢迎选购套餐，看中哪个套餐，可点击按钮进行购买...</small>
			</p>
			<table>
			<tr><div class="kk"><h3><b>按时计费套餐</b></h3></div></tr>
			<tr>
			<td><div class="kk1"><h4>包月套餐</h4><hr>15元/月<br>可使用全部线路<br>不限流量；速度最低保证150K，最高2.0M<hr><a href='/buy/?id=1'>购买该套餐</a></div></td>
			<td><div class="kk1"><h4>季度套餐</h4><hr>40元/季度<br>可使用全部线路<br>不限流量；速度最低保证150K，最高2.0M<hr><a href='/buy/?id=2'>购买该套餐</a></div></td>
			<td><div class="kk1"><h4>半年套餐</h4><hr>75元/半年<br>可使用全部线路<br>不限流量；速度最低保证150K，最高2.0M<hr><a href='/buy/?id=3'>购买该套餐</a></div></td>
			<td><div class="kk1"><h4>一年套餐</h4><hr>118元/年<br>可使用全部线路<br>不限流量；速度最低保证150K，最高2.0M<hr><a href='/buy/?id=4'>购买该套餐</a></div></td>
			</tr>
			</table>
			<table>
			<tr><div class="kk"><h3><b>按流量计费套餐</b></h3></div></tr>
			<tr>
			<td><div class="kk1"><h4>10G套餐</h4><hr>10元/月<br>可使用全部线路<br>不限速，最低保证150K<hr><a href='/buy/?id=5'>购买该套餐</a></div></td>
			<td><div class="kk1"><h4>20G套餐</h4><hr>18元/月<br>可使用全部线路<br>不限速，最低保证150K<hr><a href='/buy/?id=6'>购买该套餐</a></div></td>
			</tr>
			</table>
			<table>
			<tr><div class="kk"><h3><b>按流量计费套餐</b></h3></div></tr>
			<tr>
			<td><div class="kk1">提供四个VPN帐号，实现多层代理，流量、速度均无限制，45元/月<hr><a href='/buy/?id=7'>购买该套餐</a></div></td>
			</tr>
			
			</table>
			<table>
			<tr><div class="kk"><h3><b>专业游戏加速类(即将推出，敬请期待)</b></h3></div></tr>
			
			</table>
			
			</div>
          {% endblock %}
